.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.jumbotron {
    color: black;
    background: url('http://www.hotszots.eu/_galler/IMG/FERRARI/ferrari-f12-berlinetta-car-front-hd-wallpaper.jpg') center center;
    padding: 5px;
    margin-bottom: 0;

}

#welcome {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 45px;
}

#subtitle {
    margin-top: 60px;
}

.input-group-addon
{
    background-color: #333;
    border-color: #333;
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: #333;
    border-color: #333;
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }

#register {
    margin-top: 10%;
}

.post-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
}

.like:hover {
    cursor: pointer;
}

.not-liked {
    color: black;
}

.liked {
    color: red;
}

.likes-panel {
    font-size: 18px;
}

.post-description {
    font-size: 16px;
}

.post-image {
    margin-bottom: 20px;
}